/* ANIMAZIONI */

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square:active {
    width: 100%;
}

.ex-3-square:hover {
    border-radius: 50%;
    background-color: orange;
}

.ex-4-square:hover {
    background-color: #f5f5f5;
}

.ex-5-square:hover {
    width: 100px;
    height: 100px;
    margin: 0;
}

.ex-5-square:active {
    width: 40px;
    height: 40px;
    margin: 40px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover {
    filter: grayscale(1);
}